[Unit]
Description=Kafka Broker daemon

[Service]
Type=simple
User=ec2-user
Group=ec2-user
Restart=on-failure
WorkingDirectory=/home/ec2-user/kafka
ExecStart=/home/ec2-user/kafka/bin/kafka-server-start.sh /home/ec2-user/kafka/config/server.properties

[Install]
WantedBy=multi-user.target
