[Unit]
Description=Storm Supervisor daemon

[Service]
Type=simple
User=ec2-user
Group=ec2-user
Restart=on-failure
WorkingDirectory=/home/ec2-user/apache-storm-1.2.1 
ExecStart=/home/ec2-user/apache-storm-1.2.1/bin/storm supervisor

[Install]
WantedBy=multi-user.target
