[Unit]
Description=Storm Nimbus daemon

[Service]
Type=simple
User=ec2-user
Group=ec2-user
Restart=on-failure
WorkingDirectory=/home/ec2-user/apache-storm
ExecStart=/home/ec2-user/apache-storm/bin/storm nimbus

[Install]
WantedBy=multi-user.target
