[Unit]
Description=Zookeeper daemon

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
WorkingDirectory=/home/ec2-user/zookeeper
ExecStart=/home/ec2-user/zookeeper/bin/zkServer.sh start-foreground

[Install]
WantedBy=multi-user.target
