export WEATHER_KEY="{{ weather_auth.key }}"
export TWITTER_CONSUMER_KEY="{{ twitter_consumer.key }}"
export TWITTER_CONSUMER_SECRET="{{ twitter_consumer.secret }}"
export TWITTER_ACCESS_KEY="{{ twitter_access.key }}"
export TWITTER_ACCESS_SECRET="{{ twitter_access.secret }}"
export AWS_ACCESS_KEY_ID="{{ aws_auth.access }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_auth.secret }}"
export AWS_REGION="{{ region }}"
export KAFKA_HEAP_OPTS="-Xmx500M -Xms500M"
export LD_LIBRARY_PATH=/usr/local/lib