WEATHER_KEY="{{ weather_auth.key }}"
TWITTER_CONSUMER_KEY="{{ twitter_consumer.key }}"
TWITTER_CONSUMER_SECRET="{{ twitter_consumer.secret }}"
TWITTER_ACCESS_KEY="{{ twitter_access.key }}"
TWITTER_ACCESS_SECRET="{{ twitter_access.secret }}"
AWS_ACCESS_KEY_ID="{{ aws_auth.access }}"
AWS_SECRET_ACCESS_KEY="{{ aws_auth.secret }}"
AWS_REGION="{{ region }}"
KAFKA_HEAP_OPTS="-Xmx500M -Xms500M"
LD_LIBRARY_PATH=/usr/local/lib
